.nav-link a{
    float: left;
    color: #000000;
    background-color: eee;

    
    text-decoration: none;
    font-size: 17px;
    padding-top: 0px;
    padding-bottom: 17px;
    
   
    padding-right: 100px;
  
    
  
    
  }
.nav-link{
    margin-left: 60%;
    margin-top: -2.6%;
    padding-left: 50px;
    padding-top: 4x;
    padding-bottom: 10px;
    margin-bottom: 10%;
    position: fixed;
}

    
header{
    position: fixed;
    padding-top: 14px;
    overflow: hidden;
}

img
{
   
    margin-top: 20px;
    margin-top: -30px;
    position: fixed;
    
} 
body {
    background-color: #eee;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    
}
#heading{
    margin-left:  35%;
    margin-top: 3%; 
    font-size: 24px;
      
}
input[type="email"]
{
   margin-left: 39.5%;
   width:19%;
   height:20px;
   padding: 5px;
}
button[type="submit"]
{
   margin-left: 45%;
   margin-top: 25px;
   

   max-width: 150px;
   width: 100%;
   height: 30px;

   border: 0;
   background-color: #f1c40f;
   font-size: 20px;
   font-style:inherit;
   margin-bottom: 110px;
}


.container i{
    background-color: #eee;
    color: rgb(238, 142, 25);;
    margin-left: 100px;
    margin-top:25px;
}
.youtube {
    margin-left: 470px;
    margin-top: 30px;
}

.container{
    width: 70%;
    margin: auto;
    overflow: hidden;
}
h2,p{
    margin-top: -50px;
    margin-left:210px;
    padding-bottom: 33px;
}
.flex-container {
    background: #eee;
    display: flex;
    height: 350px;
    margin-left: 217px;
    margin-top: 5%;
    justify-content: space-between;
    margin-right: 300px;
}



  
  .flex-container > div {
    background-color:#eee;
    height: 320px;
    width: 310px;
    font-size: 15px;
    border: darkslategrey solid;
    font-family: 'Lato', sans-serif;
    
    text-align: center;
    
  }
.def{
    background-color: #ddd;
    margin-top: 0%;
    padding-bottom: 5%;
    padding-top: 5%;
    
    
}
.btn{
    border: 0;
    margin: 15px 0;
    background-color: #f1c40f;
    font-weight: 400;
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    padding-bottom: -70px;
 
}
  
footer {
    margin-top: 20px;
    background-color: #ddd;
    padding: 20px;
    width: 63%;
    margin-left: 220px;
    margin-bottom: 0px;
  }
  
  footer > ul {
    display: flex;
    justify-content: flex-end;
    padding-right: -30px;
    
  }
  
  footer > ul > li {
    
    list-style-type: none;
    margin-right: -90px;
  }
  
  footer > span {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: #444;
  }
  
  footer a{
    float: left;
    color: #000000;
    background-color: eee;

    
    text-decoration: none;
    font-size: 17px;
    padding-top: 0px;
    padding-bottom: 17px;
    
   
    padding-right: 100px;
  }
button:hover {
    background-color: darkorange; /* Green */
   
  }
  @media (max-width:430px){
    .container-nav{
        display: block;
        text-align: center;
    }
    .container-nav ul{
        width: 107%;
    }
    
}